.container {
    width: 100%;
    min-height: 100vh;
    margin-top: 50px;
}

.pageTitle {
    font-family: inherit;
    text-align: center;
    color: whitesmoke;
}

.pageTitle h1{
    font-size: 40px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search-bar {
    /* width: 700px; */
    width: 50%;
    align-self: center;
    flex-shrink: 0;
    padding: 10px;
}

.cards-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}


.card {
    margin: 10px;
    transition: all 0.4s;
    width: 25em;
}


.cards-container:hover .card {
    opacity: 0.5;
    filter: blur(1.5px);
    transform: scale(0.9);
}


.container .card:hover{
    opacity: 1;
    filter: blur(0);
    transform: scale(1.1);
}



