.container {
    font-family: inherit;
    width: 100%;
    /* border: 5px solid green; */
    min-height: 100vh;
}

.pageTitle {
    font-family: inherit;
    text-align: center;
    /* border: 2px dashed red; */
}

.pageTitle h1{
    font-size: 40px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 3px dashed black; */
}

.search-bar {
    /* width: 700px; */
    width: 50%;
    align-self: center;
    flex-shrink: 0;
    /* border: 5px solid black; */
    padding: 10px;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    /* border: 5px solid violet; */
}

.card {
    margin: 10px;
    transition: all 0.4s;
    width: 400px;
    border: 5px solid violet;
}


.cards-container:hover .card {
    opacity: 0.5;
    filter: blur(3px);
}

.container .card:hover{
    opacity: 1;
    filter: blur(0px);
    transform: scale(1.05);
}
