.list {
    display: flex;
    gap: 1rem;
}

.list {
    display: flex;
    gap: 1rem;
  }
  
.list a {
    text-decoration: none;
    color: white;
    font-size: large;
}

.list a:hover,
.list a.active {
    color: #f2c11d;
}
